.header{
  display: block;
  position: relative;
  float: left;
  width: 100%;
  box-shadow: 0 0 6px rgba(25, 25, 25, 0.15);
  background-color: #ffffff;
  &__wrapper{
    display: block;
    position: relative;
    width: 962px;
    margin: 0 auto;
  }
  &__logo{
    display: block;
    position: relative;
    float: left;
    margin-top: 34px;
    margin-bottom: 43px;
    color: #1f1f1f;
    font-size: 29px;
    font-weight: 400;
    span{
      color: #ffc80a;
      font-weight: 800;
    }
  }
}