.header__navigation{
  display: block;
  margin-top: 45px;

  @include breakpoint(max-width 979px){
    background: #fff;
    width: 100%;
    margin: 0;
    display: none;
    @include transition(right .7s ease-in-out);
  }
  .menu{
    @include breakpoint(max-width 979px){
      @include flex-direction(column);
    }
    a{
      @include breakpoint(max-width 979px){
        font-family: Lato-Heavy;
        color: #191919;
        font-size: 18px;
        padding: 10px;
      }
    }
  }

  #header-menu{
    display: none;
  }
}
.header__navigation.menu-on{
  display: block;
  top: 113px;
  position: absolute;
  width: 110%;
  left: -15px;
  z-index: 1;

  @include breakpoint(max-width 767px){
    top: 128px;
    left: -24px;
    width: 111%;
  }
  @include breakpoint(max-width 479px){
    left: -16px;
    top: 153px;
  }
}
.menu{
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  @include display(flex);

  li{
    margin-right: 30px;

    @include breakpoint(max-width 979px){
      @include display(flex);
      @include flex-direction(column);
      margin-right: 0;
    }

    a{
      display: block;
      position: relative;
      float: left;
      text-align: center;
      font-size: 16px;
      font-family: Lato-Medium;
      color: #191919;
      letter-spacing: 1px;
      @include transition(0.4s);
      &:hover{
        color: #ffc80a;
      }
    }
  }
}


/* responsive */

.burger-wrapper{
  order: 1;

  .burger{
    position: relative;
    background: #747473;
    width: 39px;
    height: 7px;
    top: 55px;
    right: 0px;
    margin-top: -3px;
    opacity: 1;
    display: none;
    border-radius: 2px;
    order: 1;
    @include transition(all .3s ease-in-out);

    @include breakpoint(max-width 767px){
      margin-left: auto;
      margin-top: -131px;
    }
    @include breakpoint(max-width 479px){
      margin-top: -158px;
    }

    &:before{
      position: absolute;
      background: #747473;
      width: 39px;
      height: 7px;
      top: 11px;
      content: "";
      display: block;
      border-radius: 2px;
      @include transition(all .3s ease-in-out);
    }
    &:after{
      position: absolute;
      background: #747473;
      width: 39px;
      height: 7px;
      bottom: 11px;
      content: "";
      display: block;
      border-radius: 2px;
      @include transition(all .3s ease-in-out);
    }

    @include breakpoint(max-width 979px){
      display: block;
    }
  }
}

.burger.menu-on{
  background: rgba(111, 111, 111, 0);
  z-index: 5;

  &:before{
    @include transform(rotate(45deg));
    top: 0px;
  }
  &:after{
    @include transform(rotate(-45deg));
    bottom: 0px;
  }
}
